name: Basic CI

on:
  push:
    branches: [main]
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

defaults:
  run:
    working-directory: GoodnotesKMP

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21

      - uses: gradle/actions/setup-gradle@v4

      - run: chmod +x ./gradlew

      - run: ./gradlew detekt ktlintCheck

  build-android-jvm-web:
    runs-on: ubuntu-latest
    needs: lint
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21

      - uses: gradle/actions/setup-gradle@v4

      - run: chmod +x ./gradlew

      - run: ./gradlew :androidApp:assembleDebug :composeApp:jvmJar :composeApp:jsBrowserProductionWebpack :composeApp:wasmJsBrowserProductionWebpack

  build-ios:
    runs-on: macos-latest
    needs: lint
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21

      - uses: gradle/actions/setup-gradle@v4

      - run: chmod +x ./gradlew

      - run: ./gradlew :composeApp:linkDebugFrameworkIosArm64 :composeApp:linkDebugFrameworkIosSimulatorArm64

  test:
    runs-on: macos-latest
    needs: [build-android-jvm-web, build-ios]
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21

      - uses: gradle/actions/setup-gradle@v4

      - run: chmod +x ./gradlew

      - run: ./gradlew :androidApp:testDebugUnitTest :composeApp:jvmTest :composeApp:jsBrowserTest :composeApp:wasmJsBrowserTest :composeApp:iosSimulatorArm64Test
